        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
        * {
            box-sizing: border-box;
        }
        
        body {
            background-image: url(car.jpg);
            background-size: cover;
            background-position: center;
            min-height: 100vh;
            font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
        }
        
        h1 {
            font-size: 3rem;
            margin-top: -10rem;
            text-transform: uppercase;
            font-weight: normal;
            margin-top: 5rem;
            font-family: 'Poppins', sans-serif;
        }
        
        .countdown-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        
        .big-text {
            font-weight: bold;
            font-size: 6rem;
            line-height: 1;
            margin: 0 2rem;
            color: Black;
        }
        
        .container {
            color: rgb(71, 4, 4);
        }
        /* Style all font awesome icons */
        
        .fa {
            padding: 20px;
            font-size: 30px;
            width: 50px;
            text-align: center;
            text-decoration: none;
        }
        /* Add a hover effect if you want */
        
        .fa:hover {
            opacity: 0.7;
        }
        /* Set a specific color for each brand */
        /* Facebook */
        
        .fa-facebook {
            background: #3B5998;
            color: white;
        }
        /* Twitter */
        
        .fa-twitter {
            background: #55ACEE;
            color: white;
        }
        
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }